page-myresources {
    .header .toolbar-background {
        background-color: color($colors, alternative);
        border-color: color($colors, alternative);
    }

    .myresources-page {
        background-color: color($colors, alternative);
    }
}
